/**
* From https://www.figma.com/file/B3AuN5HVBARkLRXuYUWVY0/CA_UI-library?node-id=10-17139&t=HIYfSjMPWF7Q8zEX-0
*/

// TEXT
$color-text-helper: $color-style-text-helper;
$color-text-white: $color-style-white;

// BORDER
$color-border-default: $color-style-other-border-default;
$color-border-focus: $color-style-other-border-dark;

// error
$color-status-error: $color-style-error-main;

// FONTS
$font-family: var(--ctc-font-family);
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Radiuses
$border-radius: 0.25rem;

// Z-Index
$z-index-1: 1;
